doctype html
html(lang="en")
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, viewport-fit=contain")
    meta(name="title", content="PDFfiller")
    meta(name="description", content="PDFfiller")
    link(rel="stylesheet", href="../../css/style.css")
    title
      block title
  body
    block content
