@import "../components/button/style";
@import "../components/document-list/style";
  
body, *{
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-wrap: wrap;
}

.main-list{
  width: 520px;
  margin: 20px;
  border: 1px solid #e2e2e2;
}
